<html>
    <body>
        <form action="{{ url_for('addAchievementDetail')}}" method="post">
            {% if message is defined and message %}
            <div class="alert alert-warning">
                <strong>
                    {{ message }} ????
                </strong>
            </div>
            {% endif %}
            <br>
            <h1>EMAIL for VERIFICATION</h1>
            <input type="email", name="email" placeholder="email">
            <h1>STUDIES</h1>
            <input type="text" name="studies" placeholder="studies detail">
            <h1>CITY</h1>
            <input type="text" name="city" placeholder="City">
            <h1>HOBBIES</h1>
            <input type="text"  name ="hobby" placeholder="Hobby">
            <input type="submit" name ='submit'>
        </form>
    </body>
</html>