<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CONTACT FORM</h1>

    {% for message in form.name.errors %}
    <div>{{ message }}</div>
    {%  endfor %}

    {% for message in form.mail.errors %}
    <div>{{ message }}</div>
    {% endfor %}

    <form action="/contact" method="post">
        <fieldset>
            <legend>ContactForm</legend>
            <div style="font-size: 20px; font-weight: bold ; margin-left: 150px;">
            {{ form.name.label }}<br>
            {{ form.name }}<br>

            {{ form.gender.label }} {{ form.gender }}  <br>
            {{ form.address.label}} {{ form.address}}
            <br>
            {{ form.mail.label }} {{ form.mail }} <br>
            {{ form.age.label }} {{ form.age }} <br>
            {{ form.language.label }} {{ form.language }}
            <br>
            {{ form.submit }}
        </div>
        </fieldset>
    </form>
</body>
</html>