
<html>
    
    <script type="text/javascript" src="{{ url_for('static',filename = 'demo.js')}}"> </script>
    <head>
        
        <link rel="stylesheet" href="{{ url_for('static',filename = 'demo.css' ) }}" type="text/css" rel = "stylesheet"/></head>
    <body>
        {% block content %}
        <div>
            
        </div>
        
        <div>
            <h1>MIKEY KUN</h1>
            <input type="button" onclick="sayhello()"  value="CLICKY HERE"><br><br>
            <img src="/static/main-qimg-8c5236dab61800284c655cc8c1cef66e-lq.jpg" width="300" height="300">
        </div>
        <div>
            {% extends "base.html" %}
        </div>

        {% endblock %}
    </body>
    
</html>