<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/inputprocess" method="post">
        <table cellpading="7">
            <tr>
                <td>enter name</td>
                <td><input type="text" name="n1"></td>
            </tr>
            <tr>
                <td>select gender</td>
                <td><input type="radio" name="r1" value="male">male</td>
                <td><input type="radio" name="r1" value="female">female</td>
            </tr>
            <tr>
                <td>city</td>
                <td>
                    <select name="city" name="city" id="city" >
                    <option value="Madurai">Madurai</option>
                    <option value="Viruthu nagar">Viruthu nagar</option>
                </select></td>
            </tr>
            <tr>
                <td><input type="submit" name="b1"></td>
            </tr>
        </table>
    </form>
</body>
</html>