<html>
    <body>
        <h3>Employees- Flask SQLAlchemy Example</h3>
        <form action="{{request.path}}" method="post">
            <label for="name">name</label><br>
            <input type="text" name="name" placeholder="Name"><br>

            <label for="job">job</label><br>
            <input type="text" name="job" placeholder="Job"><br>

            <label for="salary">salary</label><br>
            <input type="text" name="salary" placeholder="Salary"><br>

            <input type="submit" value="submit"><br>
        </form>
    </body>
</html>